In [2]:
import pandas as pd

In [3]:
# Чтение .dat-файлов

HH_data = pd.read_csv('conditions/HH.dat', header=None, sep='  ')
HH_data.sample(2)

C:\Users\эля\AppData\Local\Temp\ipykernel_1760\4031486405.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  HH_data = pd.read_csv('conditions/HH.dat', header=None, sep='  ')

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
24,2.958476,2.904428,2.850126,2.795363,2.795266,2.684964,2.684827,2.628944,2.573062,2.516484,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
346,14.389971,14.389530,14.389266,14.388120,14.387621,14.385771,14.385037,14.382482,14.381513,14.378253,...,0.77057,0.650311,0.610107,0.489143,0.448704,0.327035,0.286361,0.163987,0.123079,0.0

In [4]:
# Чтение .grd-файлов

with open('conditions/HXY1.grd', 'r') as file:
    data = file.readlines()
HXY1_data = [str[:-2].split(sep='  ') for str in data[5:]]
HXY1_data = pd.DataFrame(HXY1_data)
HXY1_data.sample(2)

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,384
316,8.40380492517466E+0002,8.40365507484829E+0002,8.40340532430434E+0002,8.40305567354282E+0002,8.40260612256372E+0002,8.40205667136703E+0002,8.40140731995277E+0002,8.40065806832094E+0002,8.39980891647152E+0002,8.39885986440452E+0002,...,1.34210829509743E+0002,1.30449586317914E+0002,1.26678353104327E+0002,1.22897129868982E+0002,1.19105916611880E+0002,1.15304713333019E+0002,1.11493520032401E+0002,1.07672336710025E+0002,1.03841163365891E+0002,0.00000000000000E+0000
96,8.10435929691464E+0002,8.10383174548170E+0002,8.10295249309347E+0002,8.10172153974995E+0002,8.10013888545113E+0002,8.09820453019702E+0002,8.09591847398762E+0002,8.09328071682292E+0002,8.09029125870293E+0002,8.08695009962765E+0002,...,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000,0.00000000000000E+0000

In [7]:
# HH_data.to_excel('HH.xlsx')
# HXY1_data.to_excel('HXY1.xlsx')
HH_data.to_csv('HH.csv')
HXY1_data.to_csv('HXY1.csv')

In [97]:
x = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [5, 1, 5, 3, 4]]
(x[:])[2:]

[[5, 1, 5, 3, 4]]